{% extends 'base.html' %}
{% load static %}


{% block content %}
  <article class="blog-post">
    <div class="col">
      {% if apod.media_type == 'video' %}
        <iframe class="w-100 image-fluid" height="650"
          src="{{ apod.url }}">
        </iframe> 
      {% else %}
        <img src="{{ apod.hdurl }}" class="w-100 rounded img-fluid" alt="">
      {% endif %}
    </div>
    <div class="col">
      <h2 class="blog-post-title pt-5">{{ apod.title }}</h2>
      <p class="blog-post-meta pb-4 mb-4 border-bottom">{{ apod.date }} 
        {% if apod.copyright %}
          by <a href="#">{{ apod.copyright }}</a>
        {% endif %}
      </p>
    </div>
    <p>{{ apod.explanation }}</p>
  </article>
{% endblock content %}