{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Gallery -->
<div class="row">
{% for photo in mrp %}
    <div class="col-md-2 mb-4 mb-lg-0">
        <a href="{% url 'mars_rover_photo' photo.id %}" ><img
            src="{{ photo.img_src }}"
            class="w-100 rounded mb-4"
            alt=""
        /></a>
    </div>
{% endfor %}
</div>

<!--Paginação-->
<nav aria-label="Page navigation example">
    <ul class="pagination p-3 justify-content-center">
        {% if mrp.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ mrp.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

            <li class="page-item">
                <span class="page-link current">
                    Page {{ mrp.number }} of {{ mrp.paginator.num_pages }}.
                </span>
            </li>

        {% if mrp.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ mrp.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ mrp.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}