{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="blog-post">
    <div class="col">
        <h2 class="blog-post-title pt-5">{{ photo.rover.name }} - {{ photo.camera.full_name }} ({{ photo.camera.name }})</h2>
        <p class="blog-post-meta pb-4 mb-4 border-bottom">Earth date: {{ photo.earth_date }} | Sol: {{ photo.sol }}</p>
    </div>
    <div class="col">
        <img src="{{ photo.img_src }}" class="w-100 rounded img-fluid" alt="">
    </div>
</article>
{% endblock content %}