{% extends 'base.html' %}
{% load static %}


{% block content %}
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 shadow-sm">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Objects count</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 shadow-sm">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Potentially hazardous</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ haz_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 shadow-sm">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Close approach date</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ approach }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 shadow-sm">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Biggest object</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ biggest }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales -->

    <div class="table-responsive">
        <table class="table table-bordered sortable shadow-sm" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Estimated diameter (m)</th>
                    <th>Approach date</th>
                    <th>Velocity (km/h)</th>
                    <th>Orbiting body</th>
                    <th>Potentially hazardous</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Estimated diameter (m)</th>
                    <th>Approach date</th>
                    <th>Velocity (km/h)</th>
                    <th>Orbiting body</th>
                    <th>Potentially hazardous</th>
                </tr>
            </tfoot>
            <tbody>
                {% for obj in objects %}
                    <tr>
                        <td><p>{{ obj.name }}</p></td>
                        <td>
                            {{ obj.estimated_diameter.meters.estimated_diameter_min|stringformat:".2f" }} to 
                            {{ obj.estimated_diameter.meters.estimated_diameter_max|stringformat:".2f" }}
                        </td>
                        <td>
                            {% for data in obj.close_approach_data %}
                                {{ data.close_approach_date_full }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for data in obj.close_approach_data %}
                                {{ data.relative_velocity.kilometers_per_hour }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for data in obj.close_approach_data %}
                                {{ data.orbiting_body }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if obj.is_potentially_hazardous_asteroid %}
                                <p>True <span class="badge bg-warning rounded-pill">!</span></p>
                            {% else %}
                                <p>False</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    


{% endblock content %}